* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

.container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}

.header {
    background-color: #393f4d;
}

.menu ul,
.menu li {
    font-size: 16px;
}

.sidebar {
    background-color: #c50208;
}

.sidebar .photo {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: normal;
    border-radius: 10px;
}

.sidebar .side-content {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: normal;
}

.nav {
    background-color: #c50208;
}

.nav ul li {
    font-size: 16px;
    text-transform: uppercase;
}

.article {
    background-color: #bccbde;
}

.article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
}

.article .card {
    background-color: #ffffff;
    color: black;
    text-align: center;
}

.card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
}

.card .title {
    font-size: 18px;
    text-align: center;
}

.footer {
    background-color: #393f4d;
}

.footer p {
    font-size: 13px;
    font-weight: normal;
}

/* Added styles */

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column: 1 / 3;
    align-items: center;
    gap: 10rem;
}

.logo {
    justify-self: start;
}

.header .menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer {
    grid-column: 1 / 3;
    height: min(160px, 10vh);
    display: grid;
    align-content: center;
}

.sidebar {
    grid-row: span 2;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 5rem;
}

.sidebar > * {
    display: grid;
    place-content: center;
}

.article {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.article > .card {
    height: 12rem;
}

.card .title {
    padding: 1rem;
}

.nav {
    grid-column: 2 / 3;
    display: grid;
    align-content: center;
}

.nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    font-size: 2rem;
    align-items: center;
}
