/* Add CSS Styling */

.btn-click,
.btn-click-second {
  font-family: Helvetica, "Times New Roman", serif;
  font-size: 28px;
}

.btn-click {
  background-color: black;
  color: white;
}

.btn-click-second {
  background-color: yellow;
}
